language: php
matrix:
  fast_finish: true
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4snapshot
    - php: hhvm-3.9
      dist: trusty

install:
 - composer install --prefer-dist --dev --no-interaction

script:
 - mkdir -p build/logs
 - vendor/bin/phpunit

after_script:
 - travis_retry vendor/bin/php-coveralls -v
