language: php
matrix:
  fast_finish: true
  include:
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4

install:
 - composer install --prefer-dist --dev --no-interaction

script:
 - mkdir -p build/logs
 - vendor/bin/phpunit
 - vendor/bin/phpstan

after_script:
 - travis_retry vendor/bin/php-coveralls -v
